<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="BloggingContext" connectionString="Data Source=tcp:ov771dgjag.database.windows.net,1433;Initial Catalog=jamespchadwick;User Id=administartor@ov771dgjag;Password=Leader2155;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>