# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Src/Application.WebApi/bin/Autofac.dll
Src/Application.WebApi/bin/Autofac.Integration.WebApi.dll
Src/Application.WebApi/bin/Newtonsoft.Json.dll
Src/Application.WebApi/bin/System.Net.Http.Formatting.dll
Src/Application.WebApi/bin/System.Web.Http.dll
Src/Application.WebApi/bin/System.Web.Mvc.dll
Src/PersonalDomain.Application.WebApi/bin/Autofac.dll
Src/PersonalDomain.Application.WebApi/bin/Autofac.Integration.WebApi.dll
Src/PersonalDomain.Application.WebApi/bin/EntityFramework.dll
Src/PersonalDomain.Application.WebApi/bin/Newtonsoft.Json.dll
Src/PersonalDomain.Application.WebApi/bin/System.Net.Http.Formatting.dll
Src/PersonalDomain.Application.WebApi/bin/System.Web.Helpers.dll
Src/PersonalDomain.Application.WebApi/bin/System.Web.Http.dll
Src/PersonalDomain.Application.WebApi/bin/System.Web.Http.WebHost.dll
Src/PersonalDomain.Application.WebApi/bin/System.Web.Mvc.dll
Src/PersonalDomain.Application.WebApi/bin/System.Web.Optimization.dll
Src/PersonalDomain.Application.WebApi/bin/System.Web.WebPages.dll
Src/PersonalDomain.Application.WebApi/bin/WebGrease.dll
Src/PersonalDomain.UI.Web/bin/Antlr3.Runtime.dll
Src/PersonalDomain.UI.Web/bin/Autofac.dll
Src/PersonalDomain.UI.Web/bin/Autofac.Integration.Mvc.dll
Src/PersonalDomain.UI.Web/bin/EntityFramework.dll
Src/PersonalDomain.UI.Web/bin/EntityFramework.SqlServer.dll
Src/PersonalDomain.UI.Web/bin/Newtonsoft.Json.dll
Src/PersonalDomain.UI.Web/bin/System.Net.Http.Formatting.dll
Src/PersonalDomain.UI.Web/bin/System.Web.Helpers.dll
Src/PersonalDomain.UI.Web/bin/System.Web.Http.dll
Src/PersonalDomain.UI.Web/bin/System.Web.Http.WebHost.dll
Src/PersonalDomain.UI.Web/bin/System.Web.Mvc.dll
Src/PersonalDomain.UI.Web/bin/System.Web.Optimization.dll
Src/PersonalDomain.UI.Web/bin/System.Web.Razor.dll
Src/PersonalDomain.UI.Web/bin/System.Web.WebPages.Deployment.dll
Src/PersonalDomain.UI.Web/bin/System.Web.WebPages.dll
Src/PersonalDomain.UI.Web/bin/System.Web.WebPages.Razor.dll
Src/PersonalDomain.UI.Web/bin/WebGrease.dll
Src/PersonalDomain.v12.suo