# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Src/PersonalDomain.v12.suo
Src/Application.Seedwork/bin/
Src/Application.Seedwork/obj/
Src/Application.WebApi/bin/
Src/Application.WebApi/obj/
Src/Data.EntityFramework/bin/
Src/Data.EntityFramework/obj/
Src/Data.Seedwork/bin/
Src/Data.Seedwork/obj/
Src/Domain.Seedwork/bin/
Src/Domain.Seedwork/obj/
Src/PersonalDomain.Application.WebApi/bin/
Src/PersonalDomain.Application.WebApi/obj/
Src/PersonalDomain.Application/bin/
Src/PersonalDomain.Application/obj/
Src/PersonalDomain.Data.EntityFramework/bin/
Src/PersonalDomain.Data.EntityFramework/obj/
Src/PersonalDomain.Data/bin/
Src/PersonalDomain.Data/obj/
Src/PersonalDomain.Domain/bin/
Src/PersonalDomain.Domain/obj/
Src/PersonalDomain.Infrastructure/bin/
Src/PersonalDomain.Infrastructure/obj/
Src/PersonalDomain.UI.Web/bin/
Src/PersonalDomain.UI.Web/obj/
Src/Tools.TypescriptGenerator/obj/
Src/Tools.TypescriptGenerator/bin/
Src/PersonalDomain.UI.Web/app/*.js
Src/PersonalDomain.UI.Web/app/*.js.map
*.user