<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Framework.Application.WebApi" version="1.0.0.0" targetFramework="net451" />
  <package id="Framework.Core.Application" version="1.0.0.0" targetFramework="net451" />
  <package id="Framework.Core.Data" version="1.0.0.0" targetFramework="net451" />
  <package id="Framework.Core.Domain" version="1.0.0.0" targetFramework="net451" />
  <package id="Framework.DataAccess.EntityFramework" version="1.0.0.0" targetFramework="net451" />
  <package id="Framework.Infrastructure" version="1.0.0" targetFramework="net451" />
</packages>